#mail-list {
    table {
        table-layout: fixed;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        float: right;
        clear: both;
        flex-wrap: wrap;

        li {
            margin-right: 1em;
        }
    }

    th:first-child {
        width: 25%;
    }

}