.new-image {
    &__button {
        // set size
        width: 100%;
        height: 4em;

        // border similar to image
        border-radius: 1em;

        // margin away from image
        margin-top: 2em;

        // center text on button
        display: flex;
        justify-content: center;
        align-items: center;
    }
}