form {

    &,
    input,
    button {
        width: 100%;
    }

    // change border color on input
    .form-control {
        border-color: $primary;
        border-radius: 1em;
    }

    .error {
        border-color: #f00;
        background: rgba(255, 0, 0, 0.2) !important;
    }

    // when the button is next to the input, remove inner rounding
    @include media-breakpoint-up(md) {

        // text input
        .form-control {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        // submit button
        .btn {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }

    label {
        color: $danger;
        margin-bottom: 1rem;
        width: 100%;
    }
}