main {
    margin: auto;
    height: 100vh;
}

section {
    padding: 20px 0px;
}

.container {
    padding: 0px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 1em;
    border: 1px solid $primary;
}

.picsum-img-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}