#introduction {
    h1 {
        font-size: 3em;
        margin-bottom: 1rem;
    }

    ul {
        width: 100%;

        .list-group-item {
            &-success::before {
                content: '\2713';
            }

            &-danger::before {
                content: '\01F5D9';
            }

            &-warning::before {
                content: '\2014';
            }

            &::before {
                padding-right: 1em;
            }
        }
    }
}